* {
  padding: 0;
  margin: 0;
  line-height: 1;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

:focus, \:hover {
  outline: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #413c38; }

body {
  background-color: #f6f6f6;
  padding-top: 150px; }

.container {
  max-width: 1400px;
  margin: auto; }

h1, h2, h3, h4, a, li, .button {
  text-transform: uppercase; }

a {
  color: #808080;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  a:hover, a a:active {
    color: #ed1b24; }

.nav__list {
  display: flex;
  justify-content: space-around; }

.page {
  padding: 0 15px; }

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f6f6f6;
  -webkit-box-shadow: 0 0 10px #e0e0e0;
  -moz-box-shadow: 0 0 10px #e0e0e0;
  box-shadow: 0 0 10px #e0e0e0; }
  .header .discount-wrap {
    text-align: center;
    padding: 15px 0; }
    .header .discount-wrap .discount {
      color: #ed1b24;
      font-size: 1.25rem; }
  .header-content {
    background-color: #ffffff;
    height: 100px; }
    .header-content__wrap {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 90px; }
    .header-content .right-block {
      display: flex;
      align-items: center;
      padding: 0 15px;
      width: 75%; }
      .header-content .right-block__logo {
        margin: 0 20px 0 40px; }
      .header-content .right-block__nav {
        width: 100%; }
        .header-content .right-block__nav .nav__list {
          height: 90px;
          display: flex;
          align-items: center; }
          .header-content .right-block__nav .nav__list .nav__link {
            text-align: center;
            margin: 0 10px; }
            .header-content .right-block__nav .nav__list .nav__link a {
              color: #0b0b0b;
              font-weight: 500;
              padding: 10px 0; }
              .header-content .right-block__nav .nav__list .nav__link a:hover {
                color: #ed1b24; }
    .header-content .left-block .icon {
      margin-left: 30px;
      font-size: 2rem; }

.page-location {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  font-size: 1.2rem; }

.breadcrumbs__list {
  display: flex; }
  .breadcrumbs__list .area-location {
    font-weight: 500; }
    .breadcrumbs__list .area-location::after {
      content: "/";
      margin: 0 5px;
      color: #808080; }
  .breadcrumbs__list .current-location {
    font-weight: 300; }

/*# sourceMappingURL=style.css.map */
